/*
* Globals
*/
$yellow: #eeff31;
$propName: #00fd89;
$string: #ffb087;
$var: #67cdf0;
$bracket: #da63a1;
$dot: #767665;
$comment: green;

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
}

.typing {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: blink-caret 0.75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background: -moz-linear-gradient(#648880, #293f50);
  background: linear-gradient(#648880, #293f50);
  background-attachment: fixed;
}
.yellow {
  color: $yellow;
}
.class {
  color: #2a93ea;
}
.propName {
  color: $propName;
}
.var {
  color: $var;
}
.string {
  color: $string;
}
.bracket {
  color: $bracket;
}
.dot {
  color: $dot;
}
.comment {
  color: $comment;
}
.typewrite {
  cursor: none;
}
.typewriter {
  color: #fff;
  text-decoration: none;
}
.code-1 {
  z-index: 1;
  position: relative;

  &::after {
    content: attr(data-attribute);
    position: absolute;
    left: -60px;
    color: #767676;
    font-size: 16px;
    line-height: 1.6;
    z-index: 3;
    top: 0px;
  }
}

/*
* Header
*/

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .padding {
    padding-top: 4em;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
